@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f67b6f;
    --secondary-color: #d3e1e0;
    --tertiary-color: #476160;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font:"Playfair Display", serif;
    --tertiary-font:"Montserrat", sans-serif;
}

/* navbar  */

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
}

.navbar .logo {
    width: 63%;
}

.navbar .logo img {
    width: 6%;
    margin-top: 2.5%;
}

.navbar .menu {
    width: 20%;
}

.navbar .menu button {
    margin-top: 5%;
    font-size: 2.5rem;
    background-color: white;
    border: white;

    &:hover {
        color: var(--primary-color);
    }
}

/* hero section  */

main{
    height: 300vh;
}

.nature {
    width: 100%;
    height: 105vh;
    background-image: url(../images/photo-1418065460487-3e41a6c84dc5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nature .quote {
    width: 50%;
    height: 40vh;
    text-align: center;
}

.nature .quote h3{
    margin-top: 18%;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    letter-spacing: 5px;
}

.nature .quote h1 {
    margin-top: 1.5%;
    font-size: 3.75rem;
    font-family:"Playfair Display", serif ;
}

.nature .quote button{
    margin-top: 3%;
    padding: 1.3% 3.5%;
    border-radius: 15px;
    font-size: 1rem;
    font-family: var(--primary-font);
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.nature .front-img {
    width: 50%;
    height: 65vh;
    text-align: center;
}

.nature .front-img img{
    width: 53.2%;
    transform: translateY(11%);
}

/* latest news */

.latest-news {
    width: 100%;
    height: 83vh;
    background-color: var(--primary-color);
}

.latest-news h1 {
    padding-top: 4.5%;
    font-size: 3rem;
    text-align: center;
    font-family:var(--secondary-font) ;
    color: white;
    letter-spacing: 1px;
}

.latest-news .btn {
    width: 100%;
    height: 10vh;
    text-align: center;
}

.latest-news button {
    font-family: var(--tertiary-font);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0.8% 1.6%;
    border-radius: 15px;
    color: white;
    background-color:var(--primary-color);
    border: 2px solid white;

    &:hover {
        color: var(--primary-color);
        background-color: white;
    }
}

.post-container {
    width: 66%;
    height: 45vh;
    margin: 1.3% auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
}

.post-container .post {
    width: 100%;
    height: 44vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.post-container .post img {
    width: 90%;
    height: 28vh;
    margin-top: 8%;
    margin-left: 5.5%;
}

.post-container .post h3 {
    margin-left: 5%;
    margin-top: 2%;
    font-family: var(--tertiary-font);
    letter-spacing: 1.5px;
    font-size: 1.15rem;
}

.post-container .post h5 {
    margin-left: 5%;
    margin-top: 5%;
    font-family: var(--primary-font);
    font-size: 0.8rem;
    color: #b3b3b3;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* travel us  */

.travel-us {
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: var(--secondary-color);
}

.travel-us .image {
    width: 29.7%;
    height: 60vh;
    transform: translate(320px , 110px);
}

.travel-us .image img {
    width: 100%;
    height: 60vh;
    border-radius: 50%;

}

.travel-us .image .circle {
    width: 31.5%;
    height: 19vh;
    background-color:var(--primary-color);
    border-radius: 50%;
    transform: translate(347px , -94px);
}

.travel-us .para-box {
    width: 51.8%;
    height: 46vh;
    border-radius: 50px;
    margin-top: 4%;
    background-color:white;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.para {
    width: 58.5%;
    height: 40vh;
    margin-top :5%;
    
    float: right;
}

.para h1{
    font-size: 3rem;
    font-family:var(--secondary-font);
    letter-spacing: 1px;
}

.para p {
    margin-top: 3.5%;
    font-size: 1.13rem ;
    font-family: var(--primary-font);
    line-height:2 ;
    font-weight:400;
}

.para button {
    font-family: var(--primary-font);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 2.3% 5%;
    border-radius: 17px;
    color: white;
    background-color:var(--primary-color);
    border: 2px solid white;
    margin-top: 3.5%;
}