@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f67b6f;
    --secondary-color: #d3e1e0;
    --tertiary-color: #476160;
    --heading-font: "Open Sans", sans-serif;
}

/* navbar  */

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
}

.navbar .logo {
    width: 63%;
}

.navbar .logo img {
    width: 6%;
    margin-top: 2.5%;
}

.navbar .menu {
    width: 20%;
}

.navbar .menu button {
    margin-top: 5%;
    font-size: 2.5rem;
    background-color: white;
    border: white;

    &:hover {
        color: var(--primary-color);
    }
}

/* welcome and quote page  */

main{
    height: 200vh;
}

.nature {
    width: 100%;
    height: 105vh;
    background-image: url(../images/photo-1418065460487-3e41a6c84dc5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nature .quote {
    width: 50%;
    height: 40vh;
    text-align: center;
}

.nature .quote h3{
    margin-top: 18%;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    letter-spacing: 5px;
}

.nature .quote h1 {
    margin-top: 1.5%;
    font-size: 3.75rem;
    font-family:"Playfair Display", serif ;
}

.nature .quote button{
    margin-top: 3%;
    padding: 1.3% 3.5%;
    border-radius: 15px;
    font-size: 1rem;
    font-family: var(--heading-font);
    letter-spacing: 1px;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.nature .front-img {
    width: 50%;
    height: 65vh;
    text-align: center;
}

.nature .front-img img{
    width: 53.2%;
    transform: translateY(11%);
}